
* {
    margin: 0;
    padding: 0;
}

#login {
    display: none;
}

body {
    background-color: #EFEEEE;
    margin: 0;
    padding: 0;
}

#hamburger {
    display: none;
}

#cart {
    display: none;
}

#buggi {
    display: none;
}
header{
    background: #2A708C;
    height: 8rem;
}

h1, h2 {
    font-family: sawarabi mincho, Verdana, Geneva, Tahoma, sans-serif;
}

#logo {
    max-width: 13rem;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

.menu {
    color: white;
    list-style-type: none;
    width: 2000px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
}

.menu li {
    display: inline-block;
    margin-left: 110px;
    margin-top: 45px;
}

.menu i {
    padding-left: 70px;
    font-size: 1.7rem;
    margin-left: 70px;
}

.news {
    height: 900px;
    background: rgba(42, 112, 140, 0.7);
    text-align: center;
    color: white;
}

#image-news {
    width: 981px;
    height: 694px;
    left: 230px;
    top: 173px;
    margin-top: 80px;
    border-radius: 70px;
    object-fit: cover;
    
}


.news h1 {
    margin-top: 0px;
    font-weight: 400;
}

.men {
    margin-top: 200px;
}

.men img {
    height: 296px;
    max-width: 375px; 
    border-radius: 50px;
    object-fit: cover;
}


.women {
    margin-top: 200px;
}

.women img {
    height: 296px; 
    min-width: 375px;
    border-radius: 50px;
    object-fit: cover;
}


.sideomside{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.men, 
.women {
    margin-top: 50px;
    padding: 0px;
}

footer {
    background-color: #204757E5;
    color: white;
    height: 8rem;
    margin-top: 30px;
    width: 2000px;
}

footer li,
footer a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin-top: 50px;
    margin-left: 120px;

}

footer li {
    display: inline-block;
    font-size: 1.7rem;
    font-family: hind, Verdana, Geneva, Tahoma, sans-serif;
}

footer i {
    margin-left: 200px;
    font-size: 1.7rem;
}


