
* {
    margin: 0;
    padding: 0;
}

#login {
    display: none;
}

body {
    background-color: #EFEEEE;
    margin: 0;
    padding: 0;
}

#hamburger {
    display: none;
}

#cart {
    display: none;
}

#buggi {
    display: none;
}
header{
    background: #2A708C;
    height: 8rem;
}

h1, h2 {
    font-family: sawarabi mincho, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#logo {
    max-width: 13rem;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}



.menu {
    color: white;
    list-style-type: none;
    width: 2000px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
}

.news a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
}

.news a:hover{
    color: lightgrey;
}

.news img:hover {
    border: solid 2px grey;
}

.sideomside a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}


.menu a:hover {
    color: lightgrey;
}

.menu li {
    display: inline-block;
    margin-left: 110px;
    margin-top: 45px;
}

.menu i {
    padding-left: 70px;
    font-size: 1.7rem;
    margin-left: 70px;
}

.news {
    height: 900px;
    background: rgba(42, 112, 140, 0.7);
    text-align: center;
    color: white;
}

#image-news {
    width: 981px;
    height: 694px;
    left: 230px;
    top: 173px;
    margin-top: 80px;
    border-radius: 70px;
    object-fit: cover;
}

.news h1 {
    margin-top: 0px;
    font-weight: 400;
}


.men {
    margin-top: 200px;
}

.men img {
    height: 296px;
    max-width: 375px; 
    border-radius: 50px;
    object-fit: cover;
}


.women {
    margin-top: 200px;
}

.women img {
    height: 296px; 
    min-width: 375px;
    border-radius: 50px;
    object-fit: cover;
}


.sideomside{
    display: flex;
    justify-content: space-around;
}

.men, 
.women {
    margin-top: 50px;
    padding: 0px;
}

footer {
    background-color: #204757E5;
    color: white;
    height: 8rem;
    margin-top: 30px;
    width: 2000px;
}

footer li,
footer a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin-top: 50px;
    margin-left: 120px;
}

footer a:hover {
    color: lightgrey;
}


footer li {
    display: inline-block;
    font-size: 1.7rem;
    font-family: hind, Verdana, Geneva, Tahoma, sans-serif;
}

footer i {
    margin-left: 200px;
    font-size: 1.7rem;
}

.hero {
    width: 100%;
    height: 1200px;
    object-fit: fill;
    border-bottom: solid 10px #204757;

}

.h1 {
    text-align: center;
}

.produkt img {
    height: 400px;
    border: solid 12px #204757;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 250PX;
}

button {
    color: white;
    background: #038C7F;
    border: none;
    padding: 8px 25px;
    margin-top: 20px;
    font-size: 1.3rem;
    margin-bottom: 30px;
    
}

button:hover {
    color: lightgrey;
}

.sideomside p {
    margin-top: 20px;
    text-align: left;
}

.sideomside h3 {
    text-align: left;
}

#contact {
    color: white;
}

.fname,
.lname,
.email,
.mld {
    width: 100%;
    display: block;
    padding: 10px;
    color: white;
    margin-left: 0px;
}



form input {
    margin-left: 8px;
    width: 20%;
}

.kontaktknapp {
    margin-bottom: 200px;
}

.grid-container {
    background-color: #2A708C;
}

.sander {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 2px white;
}

#about {
    color: white;
}

.sanderp {
    padding: 25px;
    color: white;
    border: solid 2px white;
    border-radius: 20px;
    max-width: 500px;
    font-size: 2rem; 
}

.sanderflex {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    margin: 100px 200px 100px 100px;
}

.jakkeside img {
    height: 700px;
    border: solid 8px #204757;
    margin-left: 80px;
    margin-right: 50px;
}

.jakkeside {
    display: flex;
    justify-content: space-evenly;
}

.jakkeside p {
    max-width: 60%;
    text-align: center;
    border: solid 1px #204757;
    font-size: 2rem;
}

.strl li{
    display: inline-block;
    border: solid 1px black;
    padding: 2px;
    margin-left: 10px;
    margin-top: 30px;
}

.strl li:first-child {
    margin-left: 80px;
}

.strl li:hover {
    background-color: grey;
    cursor: default;
}

.produktknapp {
    margin-left: 80px;
    margin-top: 50px;
}

.color i {
    margin-left: 10px;
    margin-top: 20px;
}

.color i:first-child {
    margin-left: 80px;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.color i:focus {
    border: solid 1px black;
}

.color i:hover {
    border: solid 1px black;
}