body {
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}
.grid-container {
    background-color: #2A708C;

}

header {
    background-color: #2A708C;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1,
h2 {
    font-family: sawarabi mincho, Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    font-family: sawarabi mincho, Verdana, Geneva, Tahoma, sans-serif;
}

#cart2 {
    display: none;
}

#logo {
    max-width: 8rem;
    display: block ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
}

#myside {
    display: none;
}

nav .hamenu {
    display: none;
}

#hamburger {
    display: none;
}

#hamburger:checked ~ nav .hamenu {
    display: block;
}

nav .hamenu li {
    list-style-type: none;
    display: block;
    padding:5px;
    margin: 0;
    width: fit-content;
}
    
    

nav .hamenu a {
    text-decoration: none;
    color: white;
    background-color: #2A708C;
    display: block;
    text-align: center;
    font-size: 2.5rem;
}

nav .hamenu a:hover {
color: lightgrey;
}

#buggi {
    color: white;
    font-size: 2.4rem;
    margin-bottom:10px;
    position: absolute;
    width: 46px;
    height: 39px;
    left: 22px;
    top: 28px;
}

/*Tok posisjon fra figma, men er vel lov å bruke de hjelpemidler man kan?*/ 

#cart {
    color: white;
    position: absolute;
    left: 85.07%;
    right: 5.87%;
    top: 3.3%;
    bottom: 93.65%;
    font-size: 2.4rem;
}

#image-news {
    max-height: 305px;
    width: 100%;
    object-fit: cover;
}

.men img  {
    max-height: 305px;
    width: 100%;
    object-fit: cover;
}

.women img {
    max-height: 305px;
    width: 100%;
    object-fit: cover;
}

main h1,
.men h2,
.women h2,
h2 {
    text-align: center;
    color: white;
    font-weight: 400;
    margin-bottom: 0px;
}

.h1{
    color: black;
}

footer {
    background-color: #204757E5;
    color: white;
    text-align: center;
    padding:25px;
    margin: 0px;
}

footer a,
footer li {
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin-right: 15px;
    padding: 10px;
    
}

footer a:hover {
    color: lightgrey;
}

footer i {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    margin-right: 25px;
    padding: 10px;
}

.hero {
width: 100%;
}


.produkt {
    flex-direction: column;
    margin-top: 15px;
    display: flex;
}

.produkt img{
    width: 70%;
    height: 400px;
    object-fit: cover;
    display: flex;
    margin-left: 10%;
    border: 8px solid #204757;
    margin-right: 20%;
}
h3,
p {
    color: black;
}

.produkt h3,
.produkt p {
    margin-left: 10%;
}

button {
    color: white;
    background: #038C7F;
    border: none;
    margin-left: 10%;
    padding: 10px 25px;
    margin-bottom: 20px;
    font-size: 1.3rem;
}

button:hover {
    color: lightgrey;
}

.fname,
.lname,
.email,
.mld {
    width: 100%;
    display: block;
    padding: 10px;
    color: white;
    margin-left: 0px;
}

form input {
    margin-left: 8px;
    width: 47%;
}

.submit {
    margin-left: 10px;
    margin-top: 20px;
    width: 40%;
}

.sander {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 2px white;
}

.sanderp {
    padding: 25px;
    color: white;
    border: solid 2px white;
    border-radius: 20px;
    
}

.pay img {
    width: 100px;
    border: solid 2px #204757;

}

.pay {
    display: block;
    padding: 20px 65px;
    border-top: thin 3px black;
    margin-bottom: 50px;
}

